
h1{
    font-size: 34px;
    color: grey;
    text-align: center;
}
body{
    background-color: grey;
}
h2{
    font-size: 24px;
    color: grey;
    text-align: center;
}
form {
    text-align: center;
    padding-bottom: 20px;
}
table{
    margin: 0 auto;
}
#profile{
    border-radius: 70px;
    border: #4C4C4C 4px solid;
}
#total{
    font-size:30px; 
    font-weight:bold;
}
#btn{
    width: 14em;
    height: 5em; 
    font-size: 15px;
    background-color: grey;
    color:white;
    font-weight:bold;
}
#wrapper{
    width: 700px;
    margin: auto;
    background: #65b6c6;
    padding: 10px;
    border-radius: 15px;
}
#rules{
    width: 200px;
    background: #65b6c6;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 30px;
}