
h1{
    font-size: 24px;
    color: grey;
    text-align: center;
}

form {
    color: green;
    padding-top: 36px;
    
    text-align: center;
}
#btn{
    width: 10em;
    height: 5em;
}
.team{
    width: 75px;
    height: 75px;
}